{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Log In to Movie Night{% endblock %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col col-md-6">
            {% if next %}
                {% if user.is_authenticated %}
                    <p>Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.</p>
                {% else %}
                    <p>Please login to see this page.</p>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col col-md-6">
            <form method="post" action="{% url "login" %}">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Log In</button>
                </div>
                <input type="hidden" name="next" value="{{ next }}">
            </form>
            <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
        </div>
    </div>
{% endblock %}